.btn {
    text-align: center;
    font-size: 200%;
    border-radius: 0.2rem;
    border: 0.4rem solid #321;
    border-bottom-color: #100800;
    border-right-color: #100800;
    color: #A98;
    background-color: #210;
    font-weight: bold;
    filter: drop-shadow(#000 0.4rem 0.4rem 0.6rem);
    position: relative;
    margin: 1rem;
    font-family: serif;
    transition: all 0.1s;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
    padding-left: 1rem;
    padding-right: 1rem;
    outline: none;
    height: 4rem;
}

.btn:hover {
    filter: drop-shadow(#000 0.4rem 0.4rem 0.6rem) brightness(0.75);
}

.btn:active {
    filter: drop-shadow(#000 0 0 0) brightness(0.5);
    transform: scale(0.9);
}

.plus-btn {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    padding: 0;
    color: #AAA;
}

.plus-btn.friendly {
    background-color: #069;
    border-color: #07A;
    border-bottom-color: #058;
    border-right-color: #058;
    z-index: 3;
}

.plus-btn.neutral {
    background-color: #666;
    border-color: #777;
    border-bottom-color: #555;
    border-right-color: #555;
    z-index: 2;
}

.plus-btn.hostile {
    background-color: #822;
    border-color: #933;
    border-bottom-color: #711;
    border-right-color: #711;
    z-index: 1;
}


.cell-btn {
    background-color: #555;
    position: relative;
    border: 0.5rem solid #666 !important;
    border-bottom-color: #444 !important;
    border-right-color: #444 !important;
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
    padding: 0;
    box-shadow: none !important;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.cell-btn:hover {
    filter: brightness(0.75);
}

.cell-btn:active {
    filter: brightness(0.5);
}

.cell-btn:active {
    border: 0.5rem solid #444 !important;
    border-bottom-color: #666 !important;
    border-right-color: #666 !important;
}

.cell-btn>img {
    width: 50%;
    height: 50%;
}

.creature-delete-btn {
    background-color: #822;
    border: 0.5rem solid #A22 !important;
    border-bottom-color: #711 !important;
    border-right-color: #711 !important;
    margin-left: 0.5rem;
}

.creature-delete-btn:active {
    border: 0.5rem solid #711 !important;
    border-bottom-color: #A22 !important;
    border-right-color: #A22 !important;
}

.creature-clone-btn {
    background-color: #358;
    border: 0.5rem solid #46A !important;
    border-bottom-color: #247 !important;
    border-right-color: #247 !important;
    margin-right: 0.5rem;
}

.creature-clone-btn:active {
    border: 0.5rem solid #247 !important;
    border-bottom-color: #358 !important;
    border-right-color: #358 !important;
}

.reset-rounds-btn {
    outline: none;
    text-align: center;
    font-size: 200%;
    background-color: transparent;
    border: none;
    position: relative;
    margin: 1rem;
    cursor: pointer;
    background-image: url("img/arrow-rotate-left.svg");
    width: 2rem;
    height: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.reset-rounds-btn:active {
    transform: rotate(-360deg);
}

.clear-btn {
    background-color: #822;
    border-color: #933;
    border-bottom-color: #711;
    border-right-color: #711;
    color: #300;
    font-weight: bold;
}

.fullscreen-btn {
    position: fixed;
    margin: 0;
    right: 1rem;
    bottom: 1rem;
    z-index: 99;
}

.fullscreen-btn::after {
    content: url("img/fullscreen.svg");
}