
.initiative-cell, .name-cell, .hit-points-cell, .armor-class-cell, .notes-cell {
    white-space: nowrap;
    padding: 0;
    position: relative;
    cursor: text;
}

.initiative-cell {
    width: 5%;
    text-align: left;
}
.initiative-cell::after {
    content: attr(data-initiative-bonus-string);
    color: #A98;
    font-size: 70%;
    margin-right: 1em;
}

.name-cell {
    width: 15%;
}

.hit-points-cell {
    width: 5%;
}

.armor-class-cell {
    width: 5%;
}

.notes-cell {
    width: 15%;
}

.damage-type-modifiers-cell {
    padding: 0.5em;
    text-align: left;
}

.damage-type-modifiers-head {
    text-align: left;
}

.manage-cell {
    width: 10%;
    padding: 0;
}
