@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Roboto+Slab&display=swap');

:root {
    --table-border-width: 0.5em;
    --table-border-color: #432;
}

* {
    transition: all 0.5s;
}

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
    color: #CBA;
    background-image: url("img/background.jpg");
    background-size: 100% 100%;
    background-position: top;
    background-repeat: repeat;
    height: 100vh;
}

header {
    height: 5em;
    background-color: #100;
    text-align: center;
    color: #DCB;
    margin-bottom: 2em;
    border-bottom: 1em ridge var(--table-border-color);
    font-family: 'Almendra SC', serif;
    box-shadow: #000 0 1em 3em;
}

header>h1::before, header>h1::after {
    content: url("./img/dragon.svg");
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    transform: scale(150%);
}

header>h1::after {
    transform: scale(150%) scaleX(-1);
}

main {
    flex: auto;
    text-align: center;
    padding: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
}

table {
    width: 100%;
    max-width: 100%;
    position: relative;
    background-color: var(--table-border-color);
    border: calc(var(--table-border-width) / 2) outset var(--table-border-color);
    font-size: 150%;
    box-shadow: #000 1em 1em 3em;
    font-family: 'Roboto Slab', serif;
}

thead {
    font-weight: bold;
    font-family: 'Almendra SC', serif;
}

td, th {
    border: calc(var(--table-border-width) / 2) inset var(--table-border-color);
    padding: 1em;
    box-sizing: border-box;
    height: 4em;
    position: relative;
    background-color: #100;
}

td {
    display: table-cell;
    max-width: 30%;
}

td > * {
    vertical-align: middle;
}

td>div.editable {
    display: inline-block;
    outline: none;
    box-sizing: border-box;
    text-align: center;
    min-width: 1ch;
    min-height: 1em;
    font-family: serif;
    font-size: 90%;
    justify-content: center;
    margin: 1ch;
}

tr.attitude-friendly > td {
    box-shadow: inset #08C 0 0 1em 0;
    color: #0CE;
}

tr.attitude-hostile > td {
    box-shadow: inset #C00 0 0 1em 0;
    color: #E88;
}

#dicebox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    user-select: none;
    pointer-events: none;
    z-index: 99999999;
}

#input-container {
    margin-top: 3em;
}

.current-turn {
    transform: scaleX(1.03) scaleY(1.1);
    box-shadow: #000 1em 1em 1em;
    position: relative;
    z-index: 10;
}

caption {
    opacity: 0;
    cursor: default;
    user-select: none;
    pointer-events: none;
}

.monster-link {
    content: url("img/book-skull.svg");
    width: 1.5em;
    height: 1.5em;
    margin: 1em;
    vertical-align: middle;
}

.creature-dead {
    filter: grayscale(100%) brightness(50%);
}

.initiative-round-counter {
    font-size: 200%;
    filter: drop-shadow(#000 0.2em 0.2em 0.3em);
    display: inline;
}

.initiative-round-counter::before {
    content: "";
    padding: 0.5em;
    margin: 0.5em;
}
